/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

/* VARIABLES */
:root {
  --purple: #5a2049;
  --white: #fff;
  --black: #222;
  --ff-primary: "Playfair Display", serif;
  --ff-secondary:  'Roboto', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 0 15px white;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* GLOBAL STYLES */
body {
  background-color: var(--purple);
  height: fit-content;
}

/* NAV */
nav {
  background-color: var(--purple);
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}

nav h3{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  color: var(--white);
  font-size: 1.2rem;
}

nav a {
  text-transform: capitalize;
  font-size: 0.9rem;
  letter-spacing: var(--spacing);
  font-family: var(--ff-primary);
  color: var(--white);
  text-decoration: none;
}
nav a:hover{
  color: var(--white);
}

@media screen and (max-width: 600px) {
  nav a{
    font-size: 0.8rem;
    text-decoration: none;
  }
  nav h3{
    font-size: 1rem;
  }
  nav a:hover{
    color: var(--white);
  }
}


/* CONTAINER */
.container h2 {
  background: var(--black);
  color: var(--white);
  padding: 1rem;
  margin: 3.5rem;
  font-size: 1.5rem;
  border-radius: 29px;
}

#lifeQ{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  color: var(--white);
  font-size: 1.2rem;
}

.btn-hero {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--white);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--white);
  cursor: pointer;
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.60rem 1rem;
}

.btn-hero:hover {
  color: var(--white);
  background: var(--black);
}

